* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* reuseable class  */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.btn {
  border-radius: 5px;
  background: linear-gradient(45deg, #ff6b6b, #f9ca24, #6ab04c, #2980b9);
  padding: 10px 20px;
  color: rgb(200, 11, 102);
  border: none;
  background-size: 200% 200%;
  position: relative;
  transition: background-position 2s ease;
  cursor: pointer;
}
span {
  font-weight: bold;
}
.btn:hover {
  background-position: right center;
}

/* banner part style  */
.banner {
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 60px;
}
.banner-left h2 {
  color: white;
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
}
.banner-left p {
  color: white;
  max-width: 55%;
}

.banner-right img {
  display: block;
}
.banner-left {
  margin: 50px;
}
/* body part style here  */
.btn-1,
.btn-2 {
  border-radius: 5px;

  padding: 10px 20px;
  color: rgba(11, 3, 7, 0.812);
  border: none;
  background-color: white;

  cursor: pointer;
}
.btn-1,
.btn-2:focus {
  border: 2px solid red;
}

.up-comming-left {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: fit-content;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.upcomming-match {
  display: flex;
}
.up-comming-right .card img {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
}
.up-comming-right {
  flex: 1;
  padding-left: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.up-comming-right button {
  border: 2px solid black;
  background-color: white;
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
}
.box {
  margin-left: 20px;
}
.bottom-icon {
  display: flex;
  gap: 50px;
  color: rgba(22, 22, 22, 0.8);
}
.box p {
  color: rgba(22, 22, 22, 1);
  font-weight: bold;
}
.card {
  background-color: aliceblue;
}

/* footer part style */
.foot {
  width: 1440px;
  height: 444px;
  background-color: rgba(22, 22, 22, 1);
  gap: 100px;
  margin: 0 auto;
  margin-top: 50px;
}
.foot h2 {
  color: white;
}
.footer-ancor li {
  list-style-type: none;
}
ul li a {
  color: rgba(185, 185, 185, 1);
  text-decoration: none;
  display: flex;
}
.footer-ancor ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.foot h2 {
  text-align: center;
  padding-top: 100px;
}
/* start responsive part here  */
@media screen and (max-width: 768px) {
  .up-comming-left {
    flex-direction: row;
    background-color: transparent;

    width: 100%;
  }
  .up-comming-left > * {
    flex: 1;
  }
  .upcomming-match {
    flex-direction: column;
  }
  .up-comming-right {
    grid-template-columns: repeat(2, 1fr);
  }
  .foot {
    width: 100%;
  }
  .footer-ancor ul {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .banner {
    flex-direction: column;
  }
}
